@charset "utf-8";

footer{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}
footer address, footer .f_txt{
    color: #fff;
    line-height: 25px;
}
footer address{
    font-size: 14px;
}
footer .f_txt{
    font-size: 12px;
}