<div class="career-box">
    <div class="career-info">
        <p class="career-date">2021.10 - 2022.04</p>
        <div class="career-title-wrap">
            <h4 class="career-title">그린 컴퓨터 아카데미</h4>
            <span class="career-subtitle">@ 반응형 웹 퍼블리싱 전문가</span>
        </div>
        <ul class="career-list">
            <li>PhotoShop, Illustrator를 활용한 이미지 편집 및 일러스트 제작</li>
            <li>웹앱 서비스 이해</li>
            <li>HTML, CSS를 활용한 웹 표준, 웹 접근성에 의거한 퍼블리싱</li>
            <li>JavaScript, Jquery를 활용한 기능 / 동적 UI 개발</li>
            <li>FileZilla, Github 등을 활용한 웹 사이트 배포 및 유지보수</li>
        </ul>
    </div>
    <ul class="career-skills">
        <li><img src="./images/icon/icon_html.svg" alt="html" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_css.svg" alt="css" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_javascript.svg" alt="javascript" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_jquery.svg" alt="jquery" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_github.svg" alt="github" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_filezilla.svg" alt="filezilla" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_ps.svg" alt="photoshop" class="career-skill-img"></li>
    </ul>
</div>
<div class="career-box">
    <div class="career-info">
        <p class="career-date">2024.06 - 진행중</p>
        <h4 class="career-title">인프런</h4>
        <span class="career-subtitle">@ [코드캠프] 고농축 프론트엔드 코스</span>
        <ul class="career-list">
            <li>웹앱 서비스 이해</li>
            <li>JavaScript</li>
            <li>Github</li>
            <li>강의 섹션 마다 준비된 과제 수행</li>
            <li>React</li>
            <li>GraphQL</li>
            <li>Routing</li>
            <li>TypeScript</li>
            <li>Backend 기초</li>
        </ul>
    </div>
    <ul class="career-skills">
        <li><img src="./images/icon/icon_html.svg" alt="html" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_css.svg" alt="css" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_javascript.svg" alt="javascript" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_react.svg" alt="react" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_nextjs.svg" alt="nextjs" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_typescript.svg" alt="nextjs" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_graphql.svg" alt="nextjs" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_figma.svg" alt="nextjs" class="career-skill-img"></li>
        <li><img src="./images/icon/icon_github.svg" alt="nextjs" class="career-skill-img"></li>
    </ul>
</div>