<nav class="h-nav flex-layout flex-a-ct">
    <ul class="gnb flex-layout flex-sb flex-a-ct">
        <li class="txt1-active">
            <a href="" title="about" class="nav-menu txt-white siz16-wei4">HOME</a>
        </li>
        <li>
            <a href="" title="about" class="nav-menu txt-white siz16-wei4">ABOUT</a>
        </li>
        <li>
            <a href="" title="about" class="nav-menu txt-white siz16-wei4">SKILLS</a>
        </li>
        <li>
            <a href="" title="about" class="nav-menu txt-white siz16-wei4">PROJECT</a>
        </li>
        <li>
            <a href="" title="about" class="nav-menu txt-white siz16-wei4">CONTACT</a>
        </li>
    </ul>
</nav>