<article class="h-screen">
    <div class="bg-cover"></div>
    <ul class="url-box">
        <li>
            <a href="https://github.com/jhlee8596" target="_blank" title="GitHub 바로가기" class="url-link">GitHub</a>
            <p class="inner-txt">GitHub로 이동</p>
        </li>
        <li>
            <a href="https://velog.io/@jhlee8596/posts" target="_blank" title="Velog 바로가기" class="url-link">Velog</a>
            <p class="inner-txt">Velog로 이동</p>
        </li>
    </ul>
    <div class="title-wrap">
        <div class="title-box">
            <h1 class="title">
                Web Publisher
            </h1>
            <p class="sub-title">
                웹 퍼블리셔 <strong class="bold">이재현</strong>입니다.
            </p>
        </div>
        <p class="intro-txt">사용자를 고려한 <strong class="bold">UX</strong>,</p>
        <p class="intro-txt">팀원을 생각하는 <strong class="bold">가독성</strong>이 좋은 코드,</p>
        <p class="intro-txt">협업에 필요한 <strong class="bold">커뮤니케이션</strong> 능력이 뛰어난 퍼블리셔입니다.</p>
    </div>
    <img src="./images/profile/my_profile.png" alt="이재현의 프로필 사진" class="profile-img">
    <!-- <div class="arrow-box">
        <a href="#" title="더보기">
            <i class="fa-solid fa-chevron-down"></i>
            <i class="fa-solid fa-chevron-down"></i>
        </a>
    </div> -->
</article>