<nav class="modal-nav">
    <ul class="modal-menu">
        <li>
            <a href="javascript:void(0)" title="닫기" class="modal-close-btn">
                <i class="fa-solid fa-xmark"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" target="_blank" title="배포 링크" id="btn-homepage" class="modal-share-btn">
                <i class="fa-solid fa-link"></i>
            </a>
            <span class="btn-txt">배포 링크</span>
        </li>
    </ul>
</nav>
<div class="project-modal">
    <header class="modal-head" include-html=""></header>
    <main id="myModal" class="modal-cont" include-html=""></main>
</div>