<article class="h-screen">
    <div class="bg-cover"></div>
    <div class="outro title-wrap">
        <div class="outro title-box">
            <h1 class="outro title">
                Thank You
            </h1>
            <p class="outro sub-title">
                봐주셔서 감사합니다.
            </p>
        </div>
        <p class="outro intro-txt">
            프론트엔드 개발자로 성장하기 위해 낯선 기술에도 적극적으로 도전하고,<br>
            항상 사용자의 관점에서 생각하며 사용하기 좋은 서비스를 만들고 싶습니다.
        </p>
    </div>
    <ul class="outro url-box">
        <li>
            <a href="https://github.com/jhlee8596" target="_blank" title="GitHub 바로가기" class="url-link">GitHub</a>
            <p class="inner-txt">GitHub로 이동</p>
        </li>
        <li>
            <a href="https://velog.io/@jhlee8596/posts" target="_blank" title="Velog 바로가기" class="url-link">Velog</a>
            <p class="inner-txt">Velog로 이동</p>
        </li>
    </ul>
</article>