<nav class="project-menu-wrap">
    <a href="javascript:void(0);" class="project-menu-btn active" data-filter="all">All</a>
    <a href="javascript:void(0);" class="project-menu-btn" data-filter="service">Service</a>
    <a href="javascript:void(0);" class="project-menu-btn" data-filter="toy">Toy</a>
    <a href="javascript:void(0);" class="project-menu-btn" data-filter="clone">Clone</a>
</nav>
<ul class="project-list">
    <li class="service all"><!-- 한검평 -->
        <div class="project-img">
            <p class="thumbnail">
                <img src="./images/project/korea-edu/korea-edu.png" alt="korea-edu" class="project-intro-img">
            </p>
        </div>
        <div class="project-info">
            <h4 class="project-tit">한국자격검정평가진흥원</h4>
            <p class="project-subtit">한국자격검정평가진흥원 홈페이지의 리뉴얼입니다.</p>
        </div>
        <ul class="project-keyword">
            <li>jQuery</li>
            <li>적응형</li>
            <li>풀페이지</li>
            <li>협업</li>
        </ul>
        <div class="list-hover">
            <h4 class="project-tit">한국자격검정평가진흥원</h4>
            <div class="project-btn-wrap">
                <a href="javascript:void(0)" title="자세히 보기" onclick="openModal(6)">자세히 보기</a>
                <a href="https://jhlee8596.github.io/korea-edu/theme/basic/index.html" target="_blank"
                    title="사이트 바로가기">사이트 바로가기</a>
            </div>
        </div>
    </li>
    <li class="clone all"><!-- 모나미 -->
        <div class="project-img">
            <p class="thumbnail">
                <img src="./images/project/monami/monami1.png" alt="monami" class="project-intro-img">
            </p>
        </div>
        <div class="project-info">
            <h4 class="project-tit">MONAMI</h4>
            <p class="project-subtit">문구류 등 판매하는 모나미 홈페이지의 클론코딩 사이트입니다.</p>
        </div>
        <ul class="project-keyword">
            <li>Clone</li>
            <li>JavaScript</li>
            <li>Solo</li>
            <li>Swiper</li>
        </ul>
        <div class="list-hover">
            <h4 class="project-tit">MONAMI</h4>
            <div class="project-btn-wrap">
                <a href="javascript:void(0)" title="자세히 보기" onclick="openModal(7)">자세히 보기</a>
                <a href="https://jhlee8596.github.io/monami/" target="_blank" title="사이트 바로가기">사이트 바로가기</a>
            </div>
        </div>
    </li>
    <li class="toy all"><!-- Todo -->
        <div class="project-img">
            <p class="thumbnail">
                <img src="./images/project/todo-list/todo-list.png" alt="todo-list" class="project-intro-img">
            </p>
        </div>
        <div class="project-info">
            <h4 class="project-tit">Todo-List</h4>
            <p class="project-subtit">Todo 리스트를 작성하고, 사용자의 위치, 현재 위치의 날씨를 받아올 수 있습니다.</p>
        </div>
        <ul class="project-keyword">
            <li>Toy</li>
            <li>JavaScript</li>
            <li>API</li>
            <li>Fetch</li>
        </ul>
        <div class="list-hover">
            <h4 class="project-tit">Todo-List</h4>
            <div class="project-btn-wrap">
                <a href="javascript:void(0)" title="자세히 보기" onclick="openModal(5)">자세히 보기</a>
                <a href="https://jhlee8596.github.io/todo-list/" target="_blank" title="사이트 바로가기">사이트 바로가기</a>
            </div>
        </div>
    </li>
    <li class="toy all"><!-- D-day -->
        <div class="project-img">
            <p class="thumbnail">
                <img src="./images/project/d-day/d-day.png" alt="d-day" class="project-intro-img">
            </p>
        </div>
        <div class="project-info">
            <h4 class="project-tit">D-Day 카운터</h4>
            <p class="project-subtit">D-Day 카운터를 이용할 수 있습니다.</p>
        </div>
        <ul class="project-keyword">
            <li>TOY</li>
            <li>JavaScript</li>
            <li>Date()</li>
            <li>localStorage</li>
        </ul>
        <div class="list-hover">
            <h4 class="project-tit">D-Day 카운터</h4>
            <div class="project-btn-wrap">
                <a href="javascript:void(0)" title="자세히 보기" onclick="openModal(4)">자세히 보기</a>
                <a href="https://jhlee8596.github.io/d-day/" target="_blank" title="사이트 바로가기">사이트 바로가기</a>
            </div>
        </div>
    </li>
    <li class="toy all"><!-- 계산기 -->
        <div class="project-img">
            <p class="thumbnail">
                <img src="./images/project/계산기/계산기.png" alt="casper-intro" class="project-intro-img">
            </p>
        </div>
        <div class="project-info">
            <h4 class="project-tit">계산기</h4>
            <p class="project-subtit">계산기를 구현한 홈페이지입니다.</p>
        </div>
        <ul class="project-keyword">
            <li>TOY</li>
            <li>JavaScript</li>
            <li>Solo</li>
            <li>Calculate</li>
        </ul>
        <div class="list-hover">
            <h4 class="project-tit">계산기</h4>
            <div class="project-btn-wrap">
                <a href="javascript:void(0)" title="자세히 보기" onclick="openModal(3)">자세히 보기</a>
                <a href="https://jhlee8596.github.io/calculating/" target="_blank" title="사이트 바로가기">사이트 바로가기</a>
            </div>
        </div>
    </li>
    <li class="clone all"> <!-- 캐스퍼 -->
        <div class="project-img">
            <p class="thumbnail">
                <img src="./images/project/casper/intro.jpg" alt="casper-intro" class="project-intro-img">
            </p>
        </div>
        <div class="project-info">
            <h4 class="project-tit">CASPER</h4>
            <p class="project-subtit">현대자동차 캐스퍼 메인 홈페이지입니다.</p>
        </div>
        <ul class="project-keyword">
            <li>Clone</li>
            <li>JQuery</li>
            <li>Solo</li>
            <li>CASPER</li>
        </ul>
        <div class="list-hover">
            <h4 class="project-tit">CASPER</h4>
            <div class="project-btn-wrap">
                <a href="javascript:void(0)" title="자세히 보기" onclick="openModal(1)">자세히 보기</a>
                <a href="https://jhlee8596.github.io/casper/" target="_blank" title="사이트 바로가기">사이트 바로가기</a>
            </div>
        </div>
    </li>
    <li class="clone all"> <!-- 쑤니 -->
        <div class="project-img">
            <p class="thumbnail">
                <img src="./images/project/ssuni/ssuni.png" alt="casper-intro" class="project-intro-img">
            </p>
        </div>
        <div class="project-info">
            <h4 class="project-tit">SSUNI 디저트</h4>
            <p class="project-subtit">쑤니 디저트 메인 홈페이지입니다.</p>
        </div>
        <ul class="project-keyword">
            <li>Clone</li>
            <li>JQuery</li>
            <li>Solo</li>
            <li>SSUNI</li>
        </ul>
        <div class="list-hover">
            <h4 class="project-tit">SSUNI 디저트</h4>
            <div class="project-btn-wrap">
                <a href="javascript:void(0)" title="자세히 보기" onclick="openModal(2)">자세히 보기</a>
                <a href="https://jhlee8596.github.io/ssuni/" target="_blank" title="사이트 바로가기">사이트 바로가기</a>
            </div>
        </div>
    </li>
</ul>
<div include-html="./layout/modal.html" id="myModal" class="project-modal-wrap">
    <nav class="modal-nav">
        <ul class="modal-menu">
            <li>
                <a href="javascript:void(0)" title="닫기" class="modal-close-btn">X</a>
            </li>
            <li>
                <a href="javascript:void(0)" target="_blank" title="배포 링크" id="btn-homepage" class="modal-share-btn">
                    <i>#</i>
                </a>
                <span class="btn-txt">배포 링크</span>
            </li>
        </ul>
    </nav>
    <div class="project-modal">
        <header class="modal-head"></header>
        <main id="myModal" class="modal-cont" include-html=""></main>
    </div>
</div>