<article class="modal-cont-main">

    <section class="modal-cont-top">
        <p class="modal-cont-tit">
            자격증 수강 및 발급이 가능한 '한국자격검정평가진흥원' 리뉴얼 홈페이지입니다.
            <br>
            <br>
            * 프로젝트 이슈 - UI개발만 완료된 상태이기에 서버측 코드를 필요로 하는 정상적인 기능 작동은 하지 않습니다.
        </p>
    </section>

    <section class="modal-cont-section">
        <h3 class="modal-cont-title">
            <i class="fa-solid fa-circle-exclamation"></i><strong class="title-txt">주요 홈페이지 및 특징</strong>
        </h3>
        <ul class="modal-cont-info cont-list">
            <li>
                강의를 선택 시 장바구니에 담아주는 기능
            </li>
            <li>
                현재 강의 진도율 표시
            </li>
            <li>
                합격 후기 작성 페이지
            </li>
            <li>
                결제 페이지 내 포인트 기능
            </li>
        </ul>
    </section>

    <section class="modal-cont-section">
        <h3 class="modal-cont-title">
            <i class="fa-solid fa-screwdriver-wrench"></i><strong class="title-txt">사용 기술 및 언어</strong>
            <small class="subtitle-txt">jQuery, JavaScript</small>
        </h3>
        <ul class="modal-cont-tech">
            <li>
                <div class="dropdown-box">
                    <p class="dropdown-tit">Tab Menu</p>
                    <div class="dropdown-cont">
                        한 페이지 내에 여러가지 정보를 담고 있기 때문에 <span class="box-txt">Tab Menu</span>를 통해 카테고리 분류 후 해당 카테고리에 맞는 상품을
                        배치하였습니다.
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown-box">
                    <p class="dropdown-tit">Progress Bar</p>
                    <div class="dropdown-cont">
                        강의 페이지에 필수적으로 들어가는 학습 진도율을 <span class="box-txt">circle-progress</span> 라이브러리를 사용하여 인터페이스를
                        구현하였습니다.
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown-box">
                    <p class="dropdown-tit">장바구니</p>
                    <div class="dropdown-cont">
                        수강신청 페이지에 있는 장바구니 기능은 과목 선택 버튼을 클릭할 시 해당 과목의 이름, 가격을 불러오고 checkbox가 checked된 개수를 불러와 선택한 과목의 개수를
                        카운트하게 됩니다.
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section class="modal-cont-section">
        <h3 class="modal-cont-title">
            <i class="fa-solid fa-arrows-spin"></i><strong class="title-txt">제작 과정</strong>
        </h3>
        <ul class="modal-cont-contri">
            <li>
                <div class="dropdown-box">
                    <p class="dropdown-tit">협업</p>
                    <ul class="dropdown-cont cont-list">
                        <li>
                            사내 디자이너와 <span class="box-txt">Figma</span>툴을 사용한 협업을 통해 기획을 함께 하였고, 디자인의 피드백과 구현에 대한 이슈사항을
                            논의하였습니다.
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown-box">
                    <p class="dropdown-tit">구글링</p>
                    <ul class="dropdown-cont cont-list">
                        <li>
                            간단한 인터렉션 UI, html / css 구조는 모두 직접 작업하였고, 처음 제작해보는 기능들은 구글링을 많이 참고하였습니다.
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
    <section class="modal-cont-section">
        <h3 class="modal-cont-title">
            <i class="fa-solid fa-triangle-exclamation"></i><strong class="title-txt">문제점 확인</strong>
        </h3>
        <ul class="modal-cont-review">
            <li>
                <div class="dropdown-box">
                    <p class="dropdown-tit">header, footer include 불가</p>
                    <ul class="dropdown-cont cont-list">
                        <li>
                            기존 재사용이 많은 <span class="box-txt">header</span>와 <span class="box-txt">footer</span> 는 분리해놓고
                            <span class="box-txt">php</span>의 <span class="box-txt">include</span>를 통해 불러오는 방식이었는데
                            cafe24의 기간 만료로 인해 다시 html파일로 변형한 뒤 붙여놓았습니다.
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
    <section class="modal-cont-section">
        <h3 class="modal-cont-title">
            <i class="fa-solid fa-display"></i><strong class="title-txt">작업 화면</strong>
            <small class="subtitle-txt">이미지 클릭 시 크게 볼 수 있습니다. (작업화면이 현재와 다를 수 있습니다.)</small>
            <small class="subtitle-txt">* 저작권 이슈가 있는 경우 첨부하지 않았습니다.</small>
        </h3>
        <ul class="modal-cont-gallery">
            <li>
                <img src="./images/project/korea-edu/korea-edu.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">수강 신청 페이지</p>
            </li>
            <li>
                <img src="./images/project/korea-edu/korea-edu2.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">자격증 발급 신청 페이지</p>
            </li>
            <li>
                <img src="./images/project/korea-edu/korea-edu3.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">고객센터 페이지</p>
            </li>
            <li>
                <img src="./images/project/korea-edu/korea-edu4.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">강의 목록 페이지</p>
            </li>
            <li>
                <img src="./images/project/korea-edu/korea-edu5.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">결제 페이지</p>
            </li>
            <li>
                <img src="./images/project/korea-edu/korea-edu6.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">수강신청 완료 페이지</p>
            </li>
        </ul>
    </section>

    <div id="image-modal" class="img-modal">
        <header class="modal-header">
            <p class="modal-info">클릭 시 전체 화면으로 전환됩니다.</p>
            <div class="modal-header-tit">
                <p class="img-modal-tit">프로젝트 이미지</p>
            </div>
            <div class="modal-header-btn-box">
                <a href="javascript:void(0)" class="img-full-btn" title="전체화면">
                    <i class="fa-solid fa-expand"></i>
                </a>
                <a href="javascript:void(0)" class="close-img-btn" title="닫기">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
        </header>
        <main class="modal-body">
            <button type="button" class="prev-img-btn">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <img src="./images/project/korea-edu/korea-edu2.png" alt="project-img" class="modal-img" id="modal-image">
            <button type="button" class="next-img-btn">
                <i class="fa-solid fa-angle-right"></i>
            </button>
        </main>
    </div>
</article>