<article class="modal-cont-main">

    <section class="modal-cont-top">
        <p class="modal-cont-tit">
            현대자동차 캐스퍼 메인 홈페이지입니다.
        </p>
    </section>

    <section class="modal-cont-section">
        <h3 class="modal-cont-title">
            <i class="fa-solid fa-circle-exclamation"></i><strong class="title-txt">주요 기능 및 특징</strong>
        </h3>
        <ul class="modal-cont-info cont-list">
            <li>
                jQuery Cookie - 팝업창 (오늘 하루 안 보기)
            </li>
            <li>
                SwiperSlide Plugin - 이미지 슬라이드
            </li>
            <li>
                Math() - 랜덤 배너 이미지
            </li>
        </ul>
    </section>

    <section class="modal-cont-section">
        <h3 class="modal-cont-title">
            <i class="fa-solid fa-screwdriver-wrench"></i><strong class="title-txt">사용 기술 및 언어</strong>
        </h3>
        <ul class="modal-cont-tech">
            <li>
                <div class="dropdown-box">
                    <p class="dropdown-tit">jQuery Cookie</p>
                    <div class="dropdown-cont">
                        광고 팝업창은 사용자가 원하지 않는 정보일 경우 보이지 않게 하는것이 좋습니다. <span class="box-txt">localStorage</span>를 활용하여 코드를
                        작성할 수도 있겠지만 <span class="box-txt">jQuery</span>에서 지원하는 쿠키 기능을 활용해 보았습니다.
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown-box">
                    <p class="dropdown-tit">Math()</p>
                    <div class="dropdown-cont">
                        항상 같은 배너 이미지만 보여진다면 제공할 수 있는 정보의 양이 헌저히 떨어질 것이라 생각합니다. slide를 활용할 수도 있지만 <span
                            class="box-txt">Math()</span> 함수를 활용한 랜덤 배너 이미지도 구현 해보았습니다.
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section class="modal-cont-section">
        <h3 class="modal-cont-title">
            <i class="fa-solid fa-display"></i><strong class="title-txt">작업 화면</strong>
            <small class="subtitle-txt">이미지 클릭 시 크게 볼 수 있습니다. (작업화면이 현재와 다를 수 있습니다.)</small>
            <small class="subtitle-txt">* 저작권 이슈가 있는 경우 첨부하지 않았습니다.</small>
        </h3>
        <ul class="modal-cont-gallery">
            <li>
                <img src="./images/project/casper/casper1.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">메인 페이지</p>
            </li>
            <li>
                <img src="./images/project/casper/casper2.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">메인 페이지</p>
            </li>
            <li>
                <img src="./images/project/casper/casper3.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">메인 페이지</p>
            </li>
            <li>
                <img src="./images/project/casper/casper4.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">메인 페이지</p>
            </li>
            <li>
                <img src="./images/project/casper/casper5.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">메인 페이지</p>
            </li>
            <li>
                <img src="./images/project/casper/casper6.png" alt="작업 화면" class="gallery-img">
                <p class="gallery-txt">메인 페이지</p>
            </li>
        </ul>
    </section>

    <div id="image-modal" class="img-modal">
        <header class="modal-header">
            <p class="modal-info">클릭 시 전체 화면으로 전환됩니다.</p>
            <div class="modal-header-tit">
                <p class="img-modal-tit">프로젝트 이미지</p>
            </div>
            <div class="modal-header-btn-box">
                <a href="javascript:void(0)" class="img-full-btn" title="전체화면">
                    <i class="fa-solid fa-expand"></i>
                </a>
                <a href="javascript:void(0)" class="close-img-btn" title="닫기">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
        </header>
        <main class="modal-body">
            <button type="button" class="prev-img-btn">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <img src="./images/project/casper/casper1.png" alt="project-img" class="modal-img" id="modal-image">
            <button type="button" class="next-img-btn">
                <i class="fa-solid fa-angle-right"></i>
            </button>
        </main>
    </div>
</article>